
.like {
  position: relative;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like:hover .btnOff {
  opacity: 1;
}

.svg {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.btnOff, .btnOn {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #2d2837;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 150ms ease-out;
}

